@media only screen and (max-width: 900px) {
  #mb-container {
    margin: 0, 20%;
  }
}

#mb-links {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5em;
}

#form-inline {
  margin-bottom: 20px;
}

#new-post-title, #post-content, #new-post-content {
  margin-right: 10px;
}

#title-tr-mb {
  text-decoration: underline;
  padding-left: 70px;
}

#mb-table {
  margin: auto;
  padding-top: 20px;
}

img {
  width: 75%;
  height: 48vh;
  margin-bottom: 10px;
}